module.exports = {

  listGender: function (gender) {

    switch(gender){
      case 1: return '帅哥';
      case 2: return '美女';
      default: return '未知';
    }
  },

  listBirthyear: function(birthyear){

    return birthyear ? birthyear + '年出生' : '未知年代';
  },

  listDuration: function(missionClientId, subjectIndex, subjectCount){

    if (missionClientId){
      if (subjectIndex >= subjectCount){
        return '闯关成功';
      } else if (subjectIndex <= 0){
        return '开始闯关';
      } else {
        return '正在闯关 ' + (subjectIndex + 1) + '/' + subjectCount;
      }
    } else {
      return '题目 ' + subjectCount;
    }
  },

  categoryIdToName: function (categoryId) {

    switch (categoryId) {
      case 101: return '电视剧';
      case 102: return '电影';
      case 103: return '动画';
      case 104: return '游戏';
      case 105: return '广告';
      case 106: return '电视节目';
      case 107: return '歌曲';
      case 108: return '歌手';
      case 109: return '其他';
      default: return '未知';
    }
  },

  dateTimeToString: function(datetime){

    if (datetime != null) {
      
      var year = datetime.getFullYear()
      var month = datetime.getMonth() + 1
      var day = datetime.getDate()

      var hour = datetime.getHours()
      var minute = datetime.getMinutes()
      var second = datetime.getSeconds()

      return datetime.getFullYear() + '-' + 
        (month > 9 ? month : '0' + month) + '-' + 
        (day > 9 ? day : '0' + day) + ' ' + 
        (hour > 9 ? hour : '0' + hour) + ':' + 
        (minute > 9 ? minute : '0' + minute) + ':' + 
        (second > 9 ? second : '0' + second);
    }
    return '';
  },

  timestampToDateTime: function(timestamp){

    return getDate(parseInt(timestamp.replace('/Date(','').replace(')/',''), 10));
  },

  durationToTimeSpan: function (duration) {

    var minute = Math.floor(duration / 60);
    var second = (duration % 60);

    return (minute > 9 ? minute : '0' + minute) +
      ':' +
      (second > 9 ? second : '0' + second);
  },

  tagsToArray: function(tags){
    
    return (tags==null || tags=='') ? [] : tags.split(',')
  }
}