//  filters/filter.wxs

/*
  说明：时间戳转日期时间值
*/
var getDateTime = function(timestamp){

  return getDate(parseInt(timestamp.replace('/Date(', '').replace(')/', ''), 10));
}

/*
  说明：日期时间转 JSON 结构
*/
var getDateTimeJSON = function(dateTime){

  return {
    year: dateTime.getFullYear(),
    month: dateTime.getMonth() + 1,
    day: dateTime.getDate(),
    hour: dateTime.getHours(),
    minute: dateTime.getMinutes(),
    second: dateTime.getSeconds()
  };
}

/*
  说明：JSON 结构转日期时间字符串
*/
var getDateTimeString = function(dateTimeJSON){

  return dateTimeJSON.year + '-' +
    (dateTimeJSON.month > 9 ? dateTimeJSON.month : '0' + dateTimeJSON.month) + '-' +
    (dateTimeJSON.day > 9 ? dateTimeJSON.day : '0' + dateTimeJSON.day) + ' ' +
    (dateTimeJSON.hour > 9 ? dateTimeJSON.hour : '0' + dateTimeJSON.hour) + ':' +
    (dateTimeJSON.minute > 9 ? dateTimeJSON.minute : '0' + dateTimeJSON.minute) + ':' +
    (dateTimeJSON.second > 9 ? dateTimeJSON.second : '0' + dateTimeJSON.second);
}

module.exports = {

  //  获取时间区间
  getTimeSpan: function(secondCount){

    var minute = Math.floor(secondCount / 60);
    var second = (secondCount % 60);

    return (minute > 9 ? minute : '0' + minute) + ':' + 
      (second > 9 ? second : '0' + second);
  },

  //  获取日期时间字符串
  getDateTimeString: function(timestamp){

    return getDateTimeString(getDateTimeJSON(getDateTime(timestamp)));
  },

  //  获取分类名称
  getCategory: function(categoryId){

    switch (categoryId) {
      case 101: return '电视';
      case 102: return '电影';
      case 103: return '动画';
      case 104: return '游戏';
      case 105: return '广告';
      case 106: return '音乐';
      default: return '其他';
    }
  },

  //  获取性别
  getGender: function(gender){

    switch (gender) {
      case 1: return '帅哥';
      case 2: return '美女';
      default: return '未知';
    }
  },

  //  获取出生年代
  getBirthyear: function(birthyear){

    return birthyear ? birthyear + '年出生' : '未知年代';
  },

  //  获取标签数组
  getTags: function(tags){

    return (tags == null || tags == '') ? [] : tags.split(',');
  },

  //  获取关卡状态
  getStatus: function(item){

    if (item.missionClientId) {
      if (item.subjectIndex >= item.subjectCount) { return { css: 'win', text: '闯关成功' } } 
      else if (item.subjectIndex <= 0) { return { css: 'start', text: '马上开始' } } 
      else { return { css: 'playing', text: '已答 ' + (item.subjectIndex + 1) + '/' + item.subjectCount } }
    }
    else { return { css: '', text: '题目 ' + item.subjectCount} }
  },

  //  获取关卡关系类型
  getRelateType: function(relateType){

    switch (relateType) {
      case 201: return { css: 'friend', text: '好友' };
      case 301: return { css: 'group', text: '群' };
      case 401: return { css: 'recommend', text: '推荐' };
      case 501: return { css: 'hot', text: '热门' };
      default: return { css: '', text: '' };
    }
  },

  //  获取关卡 Logo 地址
  getLogo: function(logoUrl){

    logoUrl = logoUrl || '';
    
    return logoUrl.indexOf('https') == 0 ? logoUrl : 'https://file.duomijuan.com' + logoUrl;
  }
};